---
tags: section
title: Blog
---

<p>
  This is the blog. The posts:
</p>

<ul>
  {% for post in collections.post %}
    <li>
      <a href="{{post.url}}">
        <h2>{{post.data.title}}</h2>
        <p>
          {{post.data.summary}}
        </p>
      </a>

    </li>
  {% endfor %}
</ul>