:root {
  --accent: rgb(80, 80, 255);
  --secondary: rgb(20, 20, 20);
  --primary: rgb(200, 200, 200);
}

@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Ubuntu&family=Inconsolata:wdth,wght@73.8,608&display=swap");

/* Resets */

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--secondary);
  color: var(--primary);
}

* {
  box-sizing: border-box;
}

pre,
code {
  font-family: "Fira Code", monospace;
}

a {
  color: var(--primary);

  &:visited:not([aria-current="page"]) {
    color: var(--primary);
  }

  &[aria-current="page"] {
    color: var(--accent);
    font-weight: bold;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Mono", monospace;
}

/* Nav */

nav {
  display: flex;

  a {
    padding: 0.5rem 1rem;
  }
}

/* Article */

article {
  margin: 2rem;
}
